doctype html
html
  head
    meta(name='google-signin-client_id' content='152190516089-12tu3cn7enjn6chs2do5qm7ee9i0vudn.apps.googleusercontent.com')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://apis.google.com/js/platform.js', async, defer)
